@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-manrope: 'Manrope', sans-serif;
  --text-colour: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-manrope);
  font-weight: 600;
  color: var(--font-color);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

p {
  font-family: var(--font-nunito-sans);
  text-align: justify;
}

a {
  font-family: var(--font-nunito-sans);
}

ul {
  list-style:disc;
  padding-left: 1.5em;
 
}

ol {
  list-style:decimal;
  padding-left: 1.5em;
}

li {
  padding-left: 0.5em;
  padding-bottom: 0.2em;
}

iframe {

  display: block;      /* Make the iframe behave like a block element */
  margin: 0 auto;      /* Center the iframe horizontally */
  max-width: 100% !important;
}

span {
  font-family: var(--font-nunito-sans);
}
