@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --menu: #ffffff;
  --menu-hover: #fafafa;
  --foreground: #000000;
  --font-manrope: 'Manrope', sans-serif;
  --text-colour: #000000;
  --header-height: 64px;

  --font-extra-light: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;

}

/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
  background: #f0f0f0; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; /* Thumb (the draggable part) color */
  border-radius: 10px; /* Rounded edges for the thumb */
  border: 3px solid #f0f0f0; /* Space around the thumb, matching the track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0; /* Thumb color on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Options: auto, thin */
  scrollbar-color: #c0c0c0 #f0f0f0; /* Thumb color and track color */
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-manrope);
  font-weight: 600;
  color: var(--font-color);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

p {
  font-family: var(--font-nunito-sans);
  text-align: justify;
}

a {
  font-family: var(--font-nunito-sans);
}

.bigLink {
  font-family: var(--font-nunito-sans);
  font-weight: 600;
  font-size: 1.17em;
}

.smallLink {
  font-family: var(--font-nunito-sans);
  font-weight: 300;
  font-size: 1.17em;
}

ul {
  list-style:disc;
  padding-left: 1.5em;
 
}

ol {
  list-style:decimal;
  padding-left: 1.5em;
}

li {
  padding-left: 0.5em;
  padding-bottom: 0.2em;
}

iframe {

  display: block;      /* Make the iframe behave like a block element */
  margin: 0 auto;      /* Center the iframe horizontally */
  max-width: 100% !important;
}

span {
  font-family: var(--font-nunito-sans);
}


.underlineLink::after {
  content: '';
  border-bottom: 3px double rgb(214, 207, 113);
  width: 0;
  height: 100%;
  position: absolute;
  margin-top: -5px;
  top: 0;
  left: 5px;
  visibility: hidden;
  opacity: 1;
  transition: .2s linear;
}

.underlineLink:hover::after {
  visibility: visible;
  opacity: 0.7;
  width: 90%;
}